# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Large dataset
data/garbage_classification/

# TensorFlow / Keras temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Python distribution
*.egg-info/
dist/
build/